name: Build and Push to GHCR

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          OWNER_LOWER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          IMAGE_NAME=ghcr.io/${OWNER_LOWER}/uc-frontend:latest
          docker build -t $IMAGE_NAME .
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

      - name: Push Docker image
        run: docker push ${{ env.IMAGE_NAME }}
  deploy:
    name: Deploy (Restart Application)
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Trigger restart webhook
        env:
          RESTART_SECRET: ${{ secrets.RESTART_SECRET }}
        env:
          RESTART_SECRET: ${{ secrets.RESTART_SECRET }}
        run: |
          curl -X GET "https://unicloud.projektstudencki.pl/restart-webhook/uc-frontend" \
            -H "Authorization: Bearer $RESTART_SECRET"
            -H "Authorization: Bearer $RESTART_SECRET"
